# Bank Marketing Dataset — Data Preparation and Feature Engineering

Student: Jose Bouza Femenia

## Task 1 — Data Loading and Initial Inspection

In this section we:

1. Load the dataset.
2. Inspect its structure.
3. Identify variable types.
4. Examine the target distribution.

This step helps us understand:
- The dimensionality of the dataset.
- Whether the problem is balanced or imbalanced.
- The presence of categorical vs numerical features.

In [3]:
# Import core libraries
import pandas as pd
import numpy as np

# Display all columns when printing
pd.set_option("display.max_columns", None)

print("Environment ready.")

Environment ready.

In [4]:
# Load dataset 
df = pd.read_csv("../data/bank-additional.csv", sep=";")

# Display first rows
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,487,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,346,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,227,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,17,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,58,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [5]:
# Check dataset shape (rows, columns)
print("Dataset shape:", df.shape)

# Inspect column types
print("\nColumn data types:\n")
print(df.dtypes)

# Compute normalized distribution of target variable
target_distribution = df["y"].value_counts(normalize=True)

print("Target distribution (proportion):")
print(target_distribution)

Dataset shape: (4119, 21)

Column data types:

age                 int64
job                   str
marital               str
education             str
default               str
housing               str
loan                  str
contact               str
month                 str
day_of_week           str
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome              str
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                     str
dtype: object
Target distribution (proportion):
y
no     0.890507
yes    0.109493
Name: proportion, dtype: float64